# debug, info, warn, error
# /** default loglevel, is used by the others if they aren't set individually */
CONSOLE_LOG_LEVEL_DEFAULT=debug
# /** loglevel for the generic local console logger (import log from './logtail') */
# CONSOLE_LOG_LEVEL_ROOT=info
# /** request/response logger (set to debug for full response body and response-time) */
CONSOLE_LOG_LEVEL_HTTP=info
# /** whether to also log objects to the console as JSON (like logtail does (very verbose)) */
CONSOLE_LOG_ARGS=true
# /** for the NeDB logs (database operations) */
# CONSOLE_LOG_LEVEL_NEDB=info
# /** for the Diagnostics logs (env variables, etc.) */
CONSOLE_LOG_LEVEL_DIAG=warn
# /** loglevel that is sent to logtail. careful with this. Don't overload logtail with your debug logs unless you know what you're doing */
# LOGTAIL_LOG_LEVEL=info